/* div, h1, h2, h3, h4, ul, li, p { border: 1px solid red;} */

.page {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
