.popup__container {
  position: relative;
  z-index: 1;
  border-radius: 5%;
  padding: 34px 36px 36px 36px;
  background-color: #fff;
  opacity: 1;
  display: grid;
  grid-template-columns: 358px;
}

@media screen and (max-width: 800px) {
  .popup__container {
    margin-left: 0;
    margin-right: 0;
    /* padding: 34px 36px 36px 36px; */
  }
}
