.content {
  width: 100%;
  max-width: 1280px;
  margin: 0 199px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .content {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 800px) {
  .content {
    margin-left: 0;
    margin-right: 0;
  }
}
