.content {
  width: 100%;
  max-width: calc(100% - 2*199px);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .content {
    max-width: 600px;
  }
}

@media screen and (max-width: 800px) {
  .content {
    max-width: 320px;
  }
}
