.card__like-button {
  width: 20px;
  height: 18px;
  background-color: #fff;
  border: none;
  background-image: url('../../../images/like_button_image.svg');
  background-size: cover;
  margin-left: auto;
}

.card__like-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
