.card__like-button {
  width: 22px;
  height: 19px;
  background-color: #fff;
  border: none;
  background-image: url('../../../images/like_button_image.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
}

.card__like-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
