.popup-form {
  border-radius: 3%;
  padding: 34px 36px 36px 36px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 358px;
}

@media screen and (max-width: 800px) {
  .popup-form {
    grid-template-columns: 258px;
    padding: 34px 16px 36px 16px;
  }
}
