.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  border: none;
  background-color: rgba(0,0,0,0);
  background-image: url('../../../images/trashbin.svg');
  background-size: contain;
  background-repeat: no-repeat;
  visibility: hidden;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
