@import url('../vendor/normalize.css');

@import url('../blocks/page/page.css');


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 882px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 74px;
}
