@import url('../vendor/normalize.css');
@import url('../vendor/fonts/inter-font.css');

@import url('../blocks/page/page.css');

@import url('../blocks/content/content.css');
@import url('../blocks/content/__header/content__header.css');
@import url('../blocks/content/__profile/content__profile.css');
@import url('../blocks/content/__elements/content__elements.css');
@import url('../blocks/content/__footer/content__footer.css');

@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');

@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__text-content/profile__text-content.css');
@import url('../blocks/profile/__title-element/profile__title-element.css');
@import url('../blocks/profile/__title/profile__title.css');
@import url('../blocks/profile/__description/profile__description.css');
@import url('../blocks/profile/__edit-button/profile__edit-button.css');

@import url('../blocks/profile/__add-button/profile__add-button.css');

@import url('../blocks/elements/elements.css');
@import url('../blocks/elements/__card-container/elements__card-container.css');

@import url('../blocks/card/card.css');
@import url('../blocks/card/__image/card__image.css');
@import url('../blocks/card/__title-container/card__title-container.css');
@import url('../blocks/card/__title/card__title.css');
@import url('../blocks/card/__like-button/card__like-button.css');
@import url('../blocks/card/__like-button/_active/card__like-button_active.css');
@import url('../blocks/card/__delete-button/card__delete-button.css');

@import url('../blocks/footer/__text-content/footer__text-content.css');

@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/popup/__close-button/popup__close-button.css');

@import url('../blocks/popup-form/popup-form.css');
@import url('../blocks/popup-form/__title/popup-form__title.css');
@import url('../blocks/popup-form/__input/popup-form__input.css');
@import url('../blocks/popup-form/__save-button/popup-form__save-button.css');


.popup__internal-content {
  position: relative;
  z-index: 1;
}

.fullsize-image {
  margin: 0;
  padding: 0;
}

.fullsize-image__picture {
  max-width: 75vw;
  max-height: 75vh;
}

.fullsize-image__caption {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
}

.card__full-image-button {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.card__full-image-button:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.card__full-image-button:hover {
  cursor: pointer;
}
